[user]
	name = Willie Roberts
	email = diagoza@me.com
[core]
	excludesfile = /Users/wirob/.gitignore_global
	editor = vi
	autocrlf = input
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
	followTags = true
[credential]
	helper = osxkeychain
[color]
	ui = true
[pull]
	rebase = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
	autoStash = true
[alias]
    s = "status -s"
    clr = "rm -r --cached ."
    ac = "!f(){ git add . && git commit -m \"$@\"; };f"
[submodule]
	recurse = true
