root = true

[*]
charset = utf-8-bom
indent_style = space
max_line_length = 125

[*.{json,sh,yaml,vim}]
charset = utf-8-bom
end_of_line = lf
indent_style = 2
insert_final_newline = false
trim_trailing_whitespace = true