# OS/IDE Files
.DS_Store
.vscode/*
*.code-workspace

# Temporary  Files
*/**/*.swp

# Secrets & Keys
*/**/authorized_keys
ssh/.ssh/id_*
ssh/.ssh/known_hosts

# System Folders
default/nvim/.netrwhist
default/nvim/autoload