*/**/*.swp
*/**/authorized_keys
.DS_Store
default/nvim/autoload
default/nvim/.netrwhist
ssh/.ssh/id_*
ssh/.ssh/known_hosts

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
