[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	shallow = true
[submodule "external/antigen"]
	path = external/antigen
	url = https://github.com/zsh-users/antigen
	shallow = true
