[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/tmux-prefix-highlight"]
	path = tmux/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "external/oh-my-zsh"]
	path = external/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "external/powerlevel9k"]
	path = external/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
[submodule "external/zsh-autosuggestions"]
	path = external/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
